@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Oranienbaum&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(/imagens/fundo1.png) no-repeat;
    background-size: cover;
    text-align: center;
}


.container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.titulo {
    letter-spacing: 25px;
    font-family: "Oranienbaum", serif;
    font-size: 50px;
    font-weight: 400;
    text-shadow: 0 0 1px black ;
    margin-bottom: -3%;
}

.subtitulo {
    font-size: 16px;
    letter-spacing: 2.2px;
    font-family: "Bodoni Moda", serif;
    font-weight: 400;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.50);
    width: 100%;
    margin-top: auto;
}


aside.botao {
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-family: "Bodoni Moda", serif;
    background-color: rgba(248, 248, 248, 0.345);;
    border-radius: 19px;
    width: 60%;
    margin-left: 20%;
    
}

img {
    height: 40px;
    flex-direction: row;
}

.esquerdo {
    height: 50px;
    margin-right: 4%;
    
}

.direto{
    min-width: 16px;
    min-height: 6px;
    

}

@media screen and (max-width: 600px) {

    body {
        background: url(/imagens/fundo1.png) no-repeat;
        background-size: cover;
        text-align: center;
    }

    aside.botao {
        display: flex;
        align-items: center;
        justify-content:space-between;
        font-family: "Bodoni Moda", serif;
        background-color: rgba(248, 248, 248, 0.345);;
        border-radius: 19px;
        width: 65%;
    }

    a { 
        color: black;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        font-family: "Bodoni Moda", serif;
    }

    .container {
        padding-top: 73%;
        padding-left: 10%;
        padding-bottom: 47%;
    }
}

@media screen and (min-width:601px) and (max-width: 1024px)  {
    body {
        background: url(/imagens/tablet.jpeg) no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    .container {
        width: 100%;
        padding-top: 83%;
        padding-bottom: 20%;
        padding-left: 15%;
    }

    .titulo {
        letter-spacing: 25px;
        font-family: "Oranienbaum", serif;
        font-size: 125px;
        font-weight: 400;

    }

    .subtitulo {
        
        font-size: 32px;
        letter-spacing: 2.2px;
        font-family: "Bodoni Moda", serif;
        color: black;
        text-shadow: 0 1px rgba(2, 1, 1, 0.918);
        width: 100%;
        margin-top: auto;
    }

    aside.botao {
        display: flex;
        align-items: center;
        justify-content:space-between;
        background-color: rgba(248, 248, 248, 0.345);;
        border-radius: 19px;
        width: 50%;
        margin-left: 25%;
        
    }

    .esquerdo {
        height: 50px;
        margin-right: 10%;
        
    }
    
    a { 
        color: black;
        font-size: 25px;
        text-align: center;
        text-decoration: none;
        font-family: "Bodoni Moda", serif;
    }
    .direito{
        min-width: 16px;
        min-height: 6px;
        
    
    }
}

@media screen and (min-width: 1025px)  {    

    body {
    display: flex;
    background: url(/imagens/desktop.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    flex-direction: column;
    
    }

    .titulo {  
        font-size: 4.5rem; 
        text-align: left; 
        font-family: "Oranienbaum", serif;
        font-weight: 400;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .subtitulo {
        display: flex;
        font-size: 2rem;
        letter-spacing: 2.2px;
        font-family: "Bodoni Moda", serif;
        color: black;
        text-shadow: 0 1px rgba(2, 1, 1, 0.918);
        margin-top: auto;
        padding-left: 20px;
        padding-top: 20px;
        gap: 80%;
    }

    aside.botao {
        
        display: flex;
        align-items: center;
        align-self: center;
        margin: 0%;
        justify-content:space-between;
        background-color: rgba(248, 248, 248, 0.345);;
        border-radius: 19px;
        width: 40%;
        position: relative;
        top: 350px;
    }

    a { 
        color: black;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        font-family: "Bodoni Moda", serif;
    }
}

@media (min-width:1440px) and (max-width: 2000px) {
    aside.botao {
        
        display: flex;
        align-items: center;
        align-self: center;
        margin: 0%;
        justify-content:space-between;
        background-color: rgba(248, 248, 248, 0.345);;
        border-radius: 19px;
        width: 40%;
        position: relative;
        top: 550px;
    }
}